ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

li h4 {
    text-align: center;
    color: rgb(21, 140, 255);
}

li img {
    max-height: 300px;
    cursor: pointer;
}